@model IEnumerable<PizzaCart.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="Index"><input type="button" class="btn btn-primary" value="Show All" /></a>
        </p>
    </div>
</form>

<div class="container-fluid">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name)</a>
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Photo)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-primary">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        <img src="~/images/@Html.DisplayFor(modelItem => item.Photo)" width="150" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-controller="cart" asp-action="buy" asp-route-id="@item.Id"><img src="~/images/cart.jpg" width="50" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
